@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --cyan-900: 196.4 63.6 23.7;
    --cyan-700: 192.9 82.3 31;
    --sky-50: 204 100 97.1;
    --cyan-950: 200 50 10;
    --slate-500: 215.4 16.3 46.9;
    --slate-200: 214.3 31.8 91.4;

    --primary: var(--cyan-900);
    --accent: var(--cyan-700);
    --accent-hover: var(--primary);
    --secondary: var(--sky-50);
    --tertiary: var(--cyan-950);

    --background: var(--secondary);
    --foreground: var(--tertiary);
    --muted-foreground: var(--slate-500);

    --border: var(--slate-200);
    --shadow: var(--primary);
  }

  .dark {
    /* Add variables when needed */
    --cyan-900: 196.4 63.6 23.7;
    --cyan-700: 192.9 82.3 31;
    --sky-50: 204 100 97.1;
    --sky-100: 204 100 90;

    --primary: var(--sky-100);
    --accent: var(--sky-50);
    --accent-hover: var(--primary);
    --secondary: var(--cyan-700);

    --background: var(--cyan-900);
    --foreground: var(--accent);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    @apply h-full scroll-p-20 scroll-smooth;
  }

  body {
    @apply grid min-h-svh grid-rows-layout bg-background text-base text-foreground;
  }

  /** TYPOGRAPHY */

  h1,
  .title-main {
    @apply text-4xl font-bold;
  }

  h2,
  .title-section {
    @apply text-3xl font-bold uppercase text-accent;
  }

  .title-category {
    @apply text-lg font-medium;
  }

  .title-card {
    @apply text-lg font-bold text-primary;
  }

  p,
  .body-text {
    @apply text-base font-normal text-foreground;
  }

  button {
    @apply appearance-none border-none;
  }
}

@layer components {
  .nav {
    @apply hover:cursor-pointer hover:text-primary;
  }
  .nav-header {
    @apply text-lg uppercase;
  }
  .nav-mobile {
    @apply text-xl uppercase;
  }
  .nav-active {
    @apply text-accent;
  }

  .btn {
    @apply inline-flex rounded-md px-8 py-4 text-base font-semibold leading-none transition-all duration-150 ease-out;
  }
  .btn-primary {
    @apply bg-accent text-secondary hover:bg-accent-hover;
  }

  .section-py {
    @apply py-20 md:py-32;
  }
  .section-py-first {
    @apply py-20 pt-10 md:pb-32 md:pt-32;
  }
  .section-full {
    @apply min-h-[calc(100vh-5rem)] content-center;
  }
}

@layer utilities {
  .backdrop {
    @apply backdrop-blur-xs backdrop-brightness-50;
  }
}
