@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /** Colors in hsl() for easier variations setup */

    /* Primary - Cyan 700 */
    --primary: 193 82 31;
    /* --primary-hover: 193 82 25; */
    /* --primary-light: 193 82 50; */
    /* --primary-dark: 193 82 20; */

    /* Secondary - Yellow 500 */
    --secondary: 45 93 47;

    /* Misc / Greys */
    /* setup by color or purpose? (ex: grey/grey-light/grey-dark vs border/bg-light/bg-dark */
  }

  /* For dark-mode setup
    .dark {} 
  */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply grid min-h-svh grid-rows-layout bg-white text-base font-normal text-black;
  }

  h1,
  .title-h1 {
    @apply text-3xl md:text-4xl;
  }
  h2,
  .title-h2 {
    @apply text-2xl md:text-3xl;
  }
  h3,
  .title-h3 {
    @apply text-2xl;
  }
  h4,
  .title-h4 {
    @apply text-xl;
  }
  h5,
  .title-h5 {
    @apply text-lg;
  }
  h6,
  .title-h6 {
    @apply text-base;
  }

  a {
    @apply cursor-pointer text-base font-medium no-underline;
  }

  li {
    @apply list-none;
  }

  input,
  select,
  textarea,
  button {
    @apply border-none bg-none focus:outline-none;
  }
}

@layer components {
  /* Section title: Border-bottom or :before background ? */
  /* Block text: max-width, center */
  /* Card: background, border, hover: shadow, border (?), other effect (?) */

  /* TODO: Setup color selection: multiple classes, or function props ?
    * Normalise all CTA/links/btn (do in base layer above): remove all default styles (decoration, background, active etc), then create classes per uses:
    - Link nav: header (& footer ?)
    - Button: either generic button with variants depending on background, or separate style (internal vs external link, vs button)
      Check Tailwind use of: .my-class__other-class {} <- variants?
  */
  .btn {
    @apply rounded-md bg-primary px-5 py-3 text-white transition-all duration-150 ease-in-out hover:bg-primary;
    /* @apply rounded-md bg-primary px-5 py-3 text-white transition-all duration-150 ease-in-out hover:bg-primary-over; */
  }
}

@layer utilities {
  .content {
    @apply mx-auto w-full max-w-screen-xl px-3 md:px-5;
  }
  /* section padding-y ? */
}
