@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 196.4 63.6 23.7; /* cyan-900 */

    --accent: 192.9 82.3 31; /* cyan-700 */
    --accent-hover: var(--primary);

    --secondary: 204 100 97.1; /* sky-50 */

    --background: var(--secondary);
    --foreground: 222.2 47.4 11.2; /* slate-900 */
    --muted-foreground: 215.4 16.3 46.9; /* slate-500 */

    --border: 214.3 31.8 91.4; /* slate-200 */
    --shadow: 222.2 84 4.9; /* slate-950 */
  }

  /* .dark {} */

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html,
  body {
    @apply h-full;
  }

  body {
    @apply grid min-h-svh grid-rows-layout bg-background text-base text-foreground;
  }

  /** TYPOGRAPHY */

  h1,
  .title-main {
    @apply text-4xl font-bold;
  }

  h2,
  .title-section {
    @apply text-3xl font-bold text-primary;
  }

  .title-category {
    @apply text-lg font-medium;
  }

  .title-card {
    @apply text-lg font-bold text-primary;
  }

  /** ELEMENTS */

  a {
    @apply no-underline hover:cursor-pointer;
  }

  li {
    @apply list-none;
  }

  input,
  select,
  textarea,
  button {
    @apply border-none bg-none focus:outline-none;
  }
}

@layer components {
  .nav {
    @apply hover:cursor-pointer hover:text-primary;
  }
  .nav-header {
    @apply text-lg uppercase;
  }
  .nav-mobile {
    @apply text-xl uppercase;
  }
  .nav-active {
    @apply text-accent;
  }

  .btn {
    @apply rounded-md px-6 py-3 font-bold transition-all duration-150 ease-in-out hover:cursor-pointer;
  }
  .btn-primary {
    @apply bg-accent text-white hover:bg-accent-hover;
  }
}

@layer utilities {
  .section {
    @apply py-20;
  }
  .backdrop {
    @apply backdrop-blur-xs backdrop-brightness-50;
  }
}
